*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(95deg, #2980b9, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    width: 400px;
    border-radius: 30px;
    background: #ffffffcb;
}

/* TOP DISPLAY (inputs typed by user) */
.display-container{
    width: 97%;
    height: 80px;
    padding: 15px;
    margin: 10px auto 0;
    background: linear-gradient(#550404e0, #490303);
    border-radius: 30px 30px 0 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display{
    padding: 10px 0;
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    
}

/* BOTTOM DISPLAY (result/output) */
#displayType{
    font-size: 1.1em;
    opacity: 0.9;
    padding-bottom: 5px;
    color: #ffdcdc;
    text-align: right;
}

.butt-box{
    width: 100%;
    padding:15px;
    background: #ffffffcb;
    border-radius: 0 0 40px 40px; 
}

.buttons{
    display: flex;
    gap: 10px;
    margin: 10px;
}

.buttons button{
    flex: 1;
    padding: 15px 0;
    border: none;
    background: #e8e8e8;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    
    
}

/* OPERATOR BUTTONS */
.buttons button.function{
    background: #c7c7c7;
    font-weight: bold;
}
