*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.content-box{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 8px solid #ff3636ff;
    border-left: 8px solid #ff3636ff;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: aliceblue;
    outline: 2px solid #6f0606ff;
    outline-offset: 0.25rem;
    outline- offset: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}



.content{
    width: 60%;
    margin: auto;
    background-color: #f0f8ff;
    padding: 30px;
}


table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fff;
}


thead{
    background-color: #ff3636ff;
    border: 2px solid #333;

}

tr, th, td{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#totalPrice{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

