*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #99999957, #d8d7d7ff )
    font-family: Serif, Times;
}

.subject{
    display: flex;
    width: 40ch;
    white-space: wrap;
    font-weight: bold;
    margin: 2rem auto;
}

.question{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem ;
    font-size: 2rem;
    font-weight: medium;
    color: #1c1b1bff;
}


.optionJs{
    display: flex;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    margin-left: 120px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: medium;
    font-size: 1rem;
}

.nextQ{
    display: block;
    margin: 2rem 4rem 2rem 2rem;
    padding: 1rem 15rem;
    border-radius: 30px;
    background: #333;
    color: aliceblue;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
} 

.answer{
    font-size: 1.5rem;
    font-weight: medium;
    display: flex;
    margin-left: 2rem;
}